@font-face
    font-family: 'Name Sans'
    src: url('../public/fonts/name-sans-heading-semibold.woff2') format("woff2")
    font-style: normal
    font-weight: 700

@font-face
    font-family: 'Majouji Code'
    src: url('../public/fonts/SFMono-Medium.woff2') format("woff2")
    font-style: normal
    font-weight: 400