@import variables.sass
@media (prefers-reduced-motion: reduce)
  *
    -webkit-animation: none !important
    animation: none !important
    transform: none !important
    transition: none !important
    scroll-behavior: auto !important

*
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: grayscale

body, html
  background-color: var(--background-main)
  color: var(--color-text)
  padding: 0
  margin: 0
  font-family: var(--font-sans)
  font-size: var(--font-size-base)
  font-weight: 400
  line-height: 1.6

::selection
  background: var(--color-accent)
  color: var(--background-main)

a::selection
  text-decoration: underline !important

::-moz-selection
  background-color: var(--color-highlight)
  color: var(--color-accent)

h1
  font-size: var(--font-size-large)

h4
  color: var(--color-text-secondary)
  letter-spacing: 1px
  font-weight: normal
  text-transform: uppercase

a
  color: var(--color-accent)
  text-decoration: none
  transition: var(--transition)
  &:hover
    color: var(--color-accent-hover)
    text-decoration: none
    border-bottom: 1px solid var(--color-accent-hover)
  &:active
    color: var(--color-accent-active)
    bottom: 0
    transition: 70ms ease-out

ul, ol
  padding: 0 20px

ol
  font-variant-numeric: tabular-nums

article img
  margin: 0 auto

pre, code, kbd
  font-family: var(--font-mono)
  font-size: var(--font-size-code)
  background-color: var(--background-code)
  border-radius: var(--border-radius)

button
  border: 0

pre
  padding: 16px

code, kbd
  font-size: var(--font-size-code)
  padding: 5px 7px

kbd
  text-transform: uppercase

mark
  background-color: var(--color-highlight)
  color: var(--color-text)
  padding: 2px 6px

iframe
  width: 100%
  max-height: 100%
  left: 0
  right: 0
  border: 0

blockquote
  font-family: var(--font-serif-text)
  font-size: var(--font-size-large)
  line-height: 1.45
  margin: 0

blockquote .author
  text-transform: uppercase
  font-family: var((--font-sans))
  letter-spacing: .5px
  font-size: var(--font-size-small)
  font-weight: 700
  color: var(--color-text-secondary)

img
  max-width: 100%
  display: block
  &:hover
    text-decoration: none

img a
  text-decoration: none
  &:hover
    text-decoration: none

header p
  margin: 0

footer
  margin-top: 64px

footer p
  color: var(--color-text-secondary)
  font-size: var(--font-size-small)
  margin: 4px 0
  line-height: 1.4

footer a
  color: var(--color-text)
  text-decoration: none

footer hr
  border: .5px solid var(--background-code)
  margin: 20px 0

td
  padding-right: 40px

th
  text-align: left

nav li
  background-color: var(--background-code)
  border-radius: var(--border-radius)
  margin: 0 8px
  list-style-type: none
  display: inline-block
  font-size: var(--font-size-base)
  padding: 16px

.post-title
  margin: 16px 0
  list-style: none

.postTimestamp
  color: var(--color-text-secondary)

.twitter-follow-button
  margin: 0 auto

.siteTitleHeader
  font-weight: 400

.glossier-link
  color: pink
  font-style: italic

.contains-task-list
  margin: 0
  padding: 0

.contains-task-list input
  &:disabled
    background-color: blue

.task-list-item
  list-style: none
  padding-bottom: 2px

.work-screenshot
  background-color: var(--background-code)
  border-radius: var(--border-radius)
  padding: 40px
  width: 100%
  @media screen and ( max-width: 380px )
    padding: 16px

.flush-bottom
  padding-bottom: 0

.reduced-padding
  padding: 8px

.lead-paragraph
  font-size: var(--font-size-medium)
  line-height: 1.4

.button-container
  border-radius: var(--border-radius)
  background-color: var(--background-code)
  border: 1px solid rgba(255,255,255,.05)
  height: 64px
  min-width: 120px
  color: #FFF
  margin: 4px 0
  align-content: start
  align-items: start
  justify-items: start
  display: grid
  row-gap: 1.425rem
  column-gap: 1.425rem
  transition: var(--animation-fast)
  transition-duration: 180ms
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr))
  &:hover
    transform: scale(1.05)
  &:active
    transform: scale(0.97)

.button-label
  color: var(--color-accent)
  text-transform: uppercase

.embed--apple-music
  max-width: 100%
  overflow: hidden
  background: transparent

.embed--spotify
  border-radius: 8px
  width: 100%
  height: 380px