:root
  // Font Families
  --font-sans: 'Sohne', --apple-system, Helvetica, Arial, sans-serif
  --font-serif-text: 'Heldane Text', Georgia, serif
  --font-serif-display: 'Heldane Display', Georgia, serif
  --font-mono: 'SF Mono', Menlo, Monaco, monospace
  --font-mono-ibm: 'IBM Plex Mono', monospace
  --font-serif-ibm: 'IBM Plex Serif', serif

  // Colors
  --background-main:            #FAFAF8
  --background-code:            #faf8f2
  --color-text:                 rgba(0, 0, 0, .85)
  --color-text-secondary:       #666
  --color-accent:               #02904C
  --color-highlight:            rgba(0, 169, 68, .15)
  --color-selection:              var(--color-highlight)

  // Highlight.js Theme
  --color-syntax-comment:   #969896
  --color-syntax-title:     #6f42c1
  --color-syntax-variable:  #df5000
  --color-syntax-string:    #032f62
  --color-syntax-symbol:    #005cc5
  --color-syntax-param:     #606
  --color-syntax-attribute:   #000
  --color-syntax-formula-bg:#eee
  --color-syntax-selector:  #9B703F
  --color-syntax-addition:  #55a532
  --color-syntax-deletion:  #bd2c00

  @media (prefers-color-scheme:dark)
    // Colors
    --color-accent:             #18C788
    --color-accent-hover:       #53c49a
    --color-accent-active:      rgba(24,199,136,.6)
    --background-main:          #101116
    --background-code:          #181A23
    --color-text:               rgba(255,255,255,.8)
    --color-text-secondary:     rgba(255,255,255,.6)
    --color-highlight:          rgba(40, 233, 164, 0.15)

    // Highlight.js Theme
    --color-syntax-comment:   #969896
    --color-syntax-title:     #b993ff
    --color-syntax-variable:  #df5000
    --color-syntax-string:    #499eff
    --color-syntax-symbol:    #005cc5
    --color-syntax-param:     #606
    --color-syntax-attribute:   #000
    --color-syntax-formula-bg:#eee
    --color-syntax-selector:  #9B703F
    --color-syntax-addition:  #55a532
    --color-syntax-deletion:  #bd2c00

  // Font Sizes
  --font-size-xlarge:             32px
  --font-size-large:              24px
  --font-size-medium:             21px
  --font-size-base:               16px
  --font-size-small:              14px
  --font-size-tiny:               12px
  --font-size-code:               13px

  // Animation & transition
  --transition:                   100ms ease-out
  --animation-fast:               cubic-bezier(0.19,1,0.22,1)

  // Misc config
  --border-radius:                4px