:root
  // Font Fallbacks
  --font-fallback-sans: -apple-system, Helvetica, Arial, sans-serif
  --font-fallback-serif: Georgia, serif
  --font-fallback-mono: Menlo, Monaco, monospace

  // Font Families
  --font-sans: 'Sohne', var(--font-fallback-sans)
  --font-serif-text: 'Heldane Text', var(--font-fallback-sans)
  --font-serif-display: 'Heldane Display', var(--font-fallback-sans)
  --font-mono: 'SF Mono', var(--font-fallback-mono)

  // Font Sizes
  --font-size-xlarge:             32px
  --font-size-large:              24px
  --font-size-medium:             21px
  --font-size-base:               16px
  --font-size-small:              14px
  --font-size-tiny:               12px
  --font-size-code:               13px

  // Breakpoints
  --break-xs:                     320px
  --break-small:                  480px
  --break-medium:                 768px
  --break-large:                  1024px
  --break-wide-1:                 1256px
  --break-wide-2:                 1440px
  --break-wide-3:                 1680px
  --break-wide-4:                 1920px

  // Animation & transition
  --transition:                   100ms ease-out
  --animation-fast:               cubic-bezier(0.19,1,0.22,1)

  // Misc config
  --border-radius:                4px

  // Colors
  --background-main:            #fafafa
  --background-code:            #f1f1f1
  --color-text:                 rgba(0, 0, 0, .85)
  --color-text-secondary:       #666
  --color-accent:               #02904C
  --color-highlight:            rgba(0, 169, 68, .15)
  --color-selection:              var(--color-highlight)
  --color-border:                 rgba(0,0,0,.15)

  // Highlight.js Theme
  --color-syntax-comment:       #969896
  --color-syntax-title:         #6f42c1
  --color-syntax-variable:      #df5000
  --color-syntax-string:        #032f62
  --color-syntax-symbol:        #005cc5
  --color-syntax-param:         #606
  --color-syntax-attribute:     #000
  --color-syntax-formula-bg:    #eee
  --color-syntax-selector:      #9B703F
  --color-syntax-addition:      #55a532
  --color-syntax-deletion:      #bd2c00

  @media (prefers-color-scheme:dark)
    // Colors
    --color-accent:             #037C42
    --color-accent-hover:       #058b4a
    --color-accent-active:      rgba(24,199,136,.6)
    --background-main:          #101116
    --background-code:          #181A23
    --color-text:               rgba(255,255,255,.8)
    --color-text-secondary:     rgba(255,255,255,.6)
    --color-highlight:          rgba(40, 233, 164, 0.15)
    --color-border:             rgba(255, 255, 255,.15)

    // Highlight.js Theme
    --color-syntax-comment:     #969896
    --color-syntax-title:       #b993ff
    --color-syntax-variable:    #df5000
    --color-syntax-string:      #499eff
    --color-syntax-symbol:      #005cc5
    --color-syntax-param:       #606
    --color-syntax-attribute:   #000
    --color-syntax-formula-bg:  #eee
    --color-syntax-selector:    #9B703F
    --color-syntax-addition:    #55a532
    --color-syntax-deletion:    #bd2c00
